* {
    margin: 0;
    font-family: Helvetica, sans-serif;
}

/* Desktop View */

/* Banner Section */

.banner-section {
    background-color: #2e3141;
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 15vw;
    padding-right: 15vw;
}

.banner-image {
    width: 25vw;
}

.banner-name {
    color: white;
    font-size: 36px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.hr-line {
    background-color: white;
    opacity: 0.25;
}

.banner-text {
    color: white;
    font-size: 22px;
    font-weight: 200;
    margin-top: 15px;
    margin-bottom: 15px;
}

/* About Section */

.about-section {
    display: flex;
    flex-direction: row;
    background-color: #4c5c96;
    height: 100vh;
    justify-content: space-evenly;
    align-items: center;
}

.about-content {
    width: 50%;

}

.about-title {
    color: white;
    font-size: 36px;
    margin-top: 15px;
    margin-bottom: 5px;
    text-align: right;
}

.about-text {
    color: white;
    font-size: 22px;
    margin-top: 15px;
    text-align: right;
}

.about-image {
    width: 30vw;
    height: fit-content;
}

/* Education Section */

.education-section {
    display: flex;
    flex-direction: row;
    background-color: #45558d;
    height: 100vh;
    justify-content: space-evenly;
    align-items: center;
}

.education-content {
    width: 50%;

}

.education-title {
    color: white;
    font-size: 36px;
    margin-top: 15px;
    margin-bottom: 5px;
}

.education-text {
    color: white;
    font-size: 22px;
    margin-top: 15px;
}

.education-image {
    width: 30vw;
    height: fit-content;
}

/* Projects Section */

.projects-section {
    background-color: #353849;
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 15vw;
    padding-right: 15vw;
}


.projects-title {
    color: white;
    font-size: 36px;
    margin-top: 15px;
    margin-bottom: 5px;
}

.projects-text {
    color: white;
    font-size: 22px;
    margin-top: 15px;
}

/* Contact-section */

.contact-section {
    background-color: #2e3141;
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 15vw;
    padding-right: 15vw;
}

.contact-title {
    color: white;
    font-size: 36px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.socials {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.social-img {
    height: 30px;
    width: 30px;
    margin-top: 20px;
    margin-right: 20px;
}


/* Mobile View */

@media screen and (max-width: 600px) {
    
    /* Banner section */
    .banner-section {
        padding-left: 10vw;
        padding-right: 10vw;
    }
    
    .banner-image {
        width: 100%;
    }
    
    .banner-name {
        font-size: 22px;
    }
    
    .banner-text {
        font-size: 16px;
    }

    /* About Section */

    .about-section {
        flex-direction: column;
        padding-left: 10vw;
        padding-right: 10vw;
    }

    .about-title {
        font-size: 22px;
    }

    .about-text {
        font-size: 16px;
    }

    .about-content {
        width: 100%;
    }

    .about-image {
        width: 100%;
    }

    /* Education section */

    .education-section {
        flex-direction: column;
        padding-left: 10vw;
        padding-right: 10vw;
    }

    .education-title {
        font-size: 22px;
    }

    .education-text {
        font-size: 16px;
    }

    .education-content {
        width: 100%;
    }

    .education-image {
        width: 100%;
    }

    /* Projects Section */

    .projects-section {
        padding-left: 10vw;
        padding-right: 10vw;
    }


    .projects-title {
        font-size: 22px;
    }

    .projects-text {
        font-size: 16px;
    }

    /* Contact Section */

    .contact-section {
        padding-left: 10vw;
        padding-right: 10vw;
    }

    .contact-title {
        font-size: 22px;
    }


    
}

