:root {
    --primary: #EEEFF1;
}

* {
    margin: 0;
}

body {
    background-color: var(--primary);
    font-family: 'Poppins', sans-serif;
}







/* About Section */

.about-section {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.skills {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 40vw;
}

.skill {
    border: 1px solid black;
    border-radius: 5px;
}


/* Banner Section */

.banner-section {
    background-color: #2e3141;
    padding: 5% 15%;
    height: 100vh;
}

.banner-image {
    width: 25%;
    height: auto;
}

.banner-name {
    font-size: 36px;
    color: white;
}

.banner-text {
    font-size: 22px;
    font-weight: lighter;
    color: white;
}



/* About Section */

.about-section {
    background-color: #4c5c96;
    color: white;
    display: flex;
    justify-content: space-evenly;
    height: 100vh;
}

.about-text {
    font-weight: lighter;
    font-size: 16px;
}

.reverse {
    text-align: right;
}



/* Education Section */

.education-section {
    background-color: #45558d;
    color: white;
    display: flex;
    justify-content: space-evenly;
    height: 100vh;
    align-items: center;
}

.section-image {
    width: 30vw;
    height: fit-content;
}

.section-content {
    width: 50%;
}

.section-header {
    font-size: 32px;
}

.header-line {
    background-color: white;
    opacity: 0.25;
}



/* Projects section */

.projects-section {
    background-color: #353849;
    color: white;
    padding: 5% 15%;
    height: 80vh;
}

.left {
    text-align: left;
}



/* Contact Section */

.contact-section {
    background-color: #2e3141;
    color: white;
    padding: 5% 15%;
}

.cv-btn {
    background-color: transparent;
    border-radius: 5px;
    color: white;
    border: 2px solid rgba(255, 255, 255, 0.25);
    font-size: 16px;
    font-weight: lighter;
    padding: 10px 15px;
    margin-right: 25px;
}

.cv-btn:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.1);
}

.socials {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.social-img {
    height: 30px;
    width: 30px;
    margin: 10px;
}



/* Mobile view */

@media screen and (max-width: 600px) {

    /* Banner Section */

    .banner-section {
        padding: 10%;
    }
    
    .banner-image {
        width: 100%;
    }
    
    .banner-name {
        font-size: 22px;
    }
    
    .banner-text {
        font-size: 14px;
    }

    /* About Section */

    .about-section {
        flex-direction: column;
    }

    .section-content {
        width: 80%;
    }

    .section-header {
        font-size: 22px;
    }

    .section-image {
        width: 80vw;
    }
    
    .about-text {
        font-weight: lighter;
        font-size: 14px;
    }

    /* Education Section */

    .education-section {
        flex-direction: column;
    }

    /* Project Section */

    .projects-section {
        padding: 10%;
        height: max-content;
    }    

}